/* classes */
.text {
  font-family: Avenir;
  font-size: 16px;
  color: black;
}

.button {
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 15px;
  font-family: Avenir;
  cursor: pointer;
}

.navbar {
  padding: 30px 90px;
  text-align: right;
}

.footer {
padding: 80px 0px;
}

.horiz_id {
  text-align: center;
  padding-top: 130px
}

.vert_id {
  text-align: center;
  padding-top: 60px
}

div.gallery img {
width: 100%;
height: auto;
margin: 4px 0px;
}

.gallery_content {
column-count: 2;
column-gap: 10px;
}

.content {
padding: 0px 275px;
}

.content_images {
text-align: center;
padding: 30px;
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  [class*="navbar"] {
    padding: 0px 15px;
    text-align: right;
  }

  [class*="content_images"] {
    padding: 0px 0px;
  }

  [class*="gallery_content"] {
    column-count: 1;
    column-gap: 0px;
  }
    
  [class*="content"] {
    padding: 0px 15px;
  }

  [class*="button"] {
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 8px;
    font-family: Avenir;
    cursor: pointer;
  }

  [class*="footer"] {
    padding: 50px 0px;
  }
}

/* image ids */

#horiz_id {
height: 360px;
width: auto;
}

#vert_id {
height: 500px;
width: auto;
}

#content_img {
width: 400px;
height: auto;
}

/* other */

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

h1 {
font-family: Avenir;
font-size: 36px;
}
