.text {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;                                       
  font-size: 14px;
  color: #222222;
}

.button {
  background-color: #FFFFFF;
  border: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 0px 0px;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;        
  color: #222222;
  cursor: pointer;
}

.navbar {
  padding: 30px 0px 0px 25vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer {
  padding: 80px 25vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery_content {
  column-count: 2;
  column-gap: 20px;
}

div.side_by_side {
  padding: 5px 0px; 
}

.side_by_side_content {
  column-count: 2;
  column-gap: 20px;
}

div.side_by_side img{
  width: 100%;
  height: auto;
}

div.gallery {
  padding: 10px 0px; 
  transition: filter 1s ease; /* Smooth transition effect */
}

div.gallery:hover {
  filter: brightness(50%); /* Darken the image by 50% */
}

div.gallery img {
  width: 100%;
  height: auto;
}

.content {
  padding: 5vh 25vw; 
}

.content_images {
  text-align: center;
  padding: 5px 0px; 
}

#content_img {
  width: 50vw;
  height: auto;
}

a:link { text-decoration: none; cursor: pointer;}

a:visited { text-decoration: none; cursor: pointer;}

a:hover { text-decoration: none; cursor: pointer;}

a:active { text-decoration: none; cursor: pointer;}

a:focus { text-decoration: none; cursor: pointer;}

h1 {
font-family: 'Neue Haas Grotesk Display Pro 700', sans-serif;        
font-size: 36px;
color: #222222;
}

h2 {
  font-family: 'Neue Haas Grotesk Display Pro 700', sans-serif;        
  font-size: 14px;
  color: #222222;
}

iframe {
  width: 50vw;  
  height: 30vw;  
}

.crosshair-area:hover {
  cursor: crosshair;
}


.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Class to add when the element is visible */
.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  [class*="navbar"] {
    padding: 3vh 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  [class*="button"] {
    background-color: white;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 0px 0px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;        
    color: 	#222222;
    cursor: crosshair;
  }

  [class*="gallery_content"] {
    column-count: 1;
  }
    
  [class*="content"] {
    padding: 0vh 0vw; 
  }

  [class*="footer"] {
    padding: 3vh 0vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #content_img {
    padding: 5px 0px;
    width: 100%;
  }

  iframe {
    width: 90vw;  
    height: 60vw;  
  }

}
