.text {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;                                       
  font-size: 16px;
  color: #222222;
}

.button {
  background-color: #FFFFFF;
  border: none;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 0px 0px;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;        
  cursor: pointer;
  color: #222222;
}

.navbar {
  padding: 30px 25vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer {
  padding: 80px 25vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.gallery_content {
  column-count: 2;
  column-gap: 10px;
}

div.gallery_no_click {
    padding: 5px 0px; 
}

div.gallery_no_click img {
  width: 100%;
  height: auto;
}

div.gallery {
  padding: 5px 0px; 
  transition: filter 0.3s ease; /* Smooth transition effect */
}

div.gallery:hover {
  filter: brightness(50%); /* Darken the image by 50% */
}

div.gallery img {
  width: 100%;
  height: auto;
}

.content {
  padding: 5vh 25vw; 
}

.content_images {
  text-align: center;
}

#content_img {
  width: 50vw;
  height: auto;
}

/* other */

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a:focus { text-decoration: none; }

h1 {
font-family: 'Neue Haas Grotesk Display Pro 700', sans-serif;        
font-size: 36px;
color: #222222;
}

@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  [class*="navbar"] {
    padding: 0px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  [class*="button"] {
    background-color: white;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0px 0px;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;        
    cursor: pointer;
    color: 	#222222;
  }

  [class*="gallery_content"] {
    column-count: 1;
  }
    
  [class*="content"] {
    padding: 5vh 0vw; 
  }

  [class*="content_images"] {
    text-align: center;
  }

  [class*="footer"] {
    padding: 0px 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  #content_img {
    padding: 5px 0px;
    width: 100%;
  }

}
