.text, p, ol, .button, h1, h2, b {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-style: normal;
  color: #222222;
}

.text, p, ol, .button, b, h2 {
  font-weight: 500;
  font-size: 14px;
}

.button {
  background-color: #FFFFFF;
  border: none;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footer p {
  color: #aaaaaa;
}

.gallery_content {
  column-count: 2;
  column-gap: 5px;
}

div.gallery {
  transition: filter 1s ease; /* Smooth transition effect */
}

div.gallery:hover {
  filter: brightness(50%); /* Darken the image by 50% */
}

div.gallery img {
  width: 100%;
  height: auto;
}

/* specifically for typing gif */
div.small img { 
  width: 229px;
  padding: 2px;
  height: 80px;
}


.side_by_side {
  padding: 2px 0px; 
}

.side_by_side_content {
  column-count: 2;
  column-gap: 5px;
}

.side_by_side img{
  width: 100%;
  height: auto;
}

.content, .footer, .navbar {
  padding: 5px 25vw; 
}

.content_images {
  text-align: center;
}

#content_img {
  width: 50vw;
  height: auto;
}

a:link, a:visited, a:hover, a:active, a:focus { 
  text-decoration: none; cursor: pointer;
}

h1 {
  font-weight: 400;
  font-size: 36px;
}

h2, b {
  font-weight: 700;
}

iframe {
  text-align: center;
  width: 50vw;  
  height: 28vw;  
}

.reveal {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Class to add when the element is visible */
.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  [class*="navbar"] {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  [class*="button"] {
    background-color: white;
    border: none;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    padding: 0px 0px;
    color: 	#222222;
    cursor: pointer;
  }
  
  .content, .footer, .navbar {
    padding: 3px 0px; 
  }

  div.gallery {
    padding: 2.5px 0px; 
  }

  [class*="gallery_content"] {
    column-count: 1;
    width: 100%;
  }
    
  [class*="content_images"] {
    text-align: center;
    padding: 0px 0px; 
  }
  
  #content_img {
    padding: 5px 0px; 
    width: 100%;
  }

  iframe {
    width: 100%;  
    height: 56vw;  
  }

}
