body {
  background-color: #111111;
}

code{
  font-family: "source code pro", monospace;
  color: #aaaaaa;
}

p, .role, .name, button, h3 {
  letter-spacing: 0.05em;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.landing_desc {
  margin-right: 20vw;
}

.role {
      text-align: right;
}

.name {
  font-weight: bold;
}

.credits {
  column-count: 2;
}

h3 {
  font-size: 14px;
  color: #aaaaaa;
}

.video-container {
  width: 100%; /* or any fixed value like 600px */
  aspect-ratio: 16 / 9; /* optional for keeping proportions */
  overflow: hidden;
}

.video-container video, .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain' depending on the desired effect */
  display: block; /* removes bottom white space */
}

.button {
  background-color: #111111;
  border: none;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 40px;
}

.empty_box {
  width: 100%;
  height: 8vh;
}

.footer {
  padding: 50px 0px 0px 0px;
  bottom: 0;
}

.gallery_content {
  column-count: 2;
  column-gap: 10px;
}

.gallery {
  position: relative;
  transition: filter 1s ease; /* Smooth transition effect */
  padding: 5px 0px;
}

.side_by_side {
  padding: 5px 0px;
}

.side_by_side_content {
  column-count: 2;
  column-gap: 10px;
}

div.side_by_side img {
  width: 100%;
  height: auto;
}

.content {
  box-sizing: border-box;
  padding: 10px 50px 10px 50px;
  max-width: 1500px;
  margin: 0 auto;
}

.content_images {
  padding: 5px 0px;
  width: 100%;
  height: auto;

}

#content_img {
  width: 100%;
  height: auto;
}

a:link, a:visited, a:hover, a:active, a:focus {
  color: #00ff00;
  text-decoration: none;
  cursor: pointer;
}

h1, h2 {
  line-height: 105%;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: #ffffff;
}

h2 {
  font-size: 24px;
}

iframe {
  width: 100%;
  height: 50vw;  
}

.lock-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 24px;
  pointer-events: none; 
  z-index: 1000;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

::selection {
  background: #00ff00; /* Highlight background */
  color: black;         /* Text color inside the highlight */
}


@media only screen and (max-width: 850px) {
  .landing_desc {
    margin-right: 0px;
  }

  p, button {
    font-size: 14px;
  }
  
  h1 {
    font-size: 24px;
  }

  /* For mobile phones: */
  [class*="navbar"] {
    padding: 3vh 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  [class*="content"] {
    padding: 0px 0px;
  }

  div.gallery {
    padding: 2.5px 0px;
  }

  [class*="gallery_content"] {
    column-count: 1;
    width: 100%;
  }

  [class*="content_images"] {
    padding: 5px 0px;
  }

  iframe {
    width: 100%;
    height: 56vw;
  }

  .side_by_side {
  padding: 2.5px 0px;
}

}
