:root {
  --color-1: #ababab;
  --color-2: #ffffff;
  --color-3: #111111;
  --color-4: #00ff00;

}

body {
  background-color: var(--color-3);
}

code{
  font-family: "source code pro", monospace;
  color: var(--color-1);
}

p, .role, .name, button, h3 {
  letter-spacing: 0.03em;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--color-2);
}

.landing_desc {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.landing_desc h1 {
  margin-right: 20vw;
}

.credits {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 10px; 
  text-align: right; /* Align .role text to right */
}

.role {
  font-weight: 600;
  text-align: right;
}

.name {
  text-align: left;
}


h3 {
  font-size: 14px;
  color: var(--color-1);
}

.project_tag_container{
  display: flex;
  margin-top: 10px;
}

.project_tag {
  text-transform: uppercase;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  padding: 2px 6px;
  margin-right: 5px;
  font-size: 12px;
  color: var(--color-1);
  /* border: 1px solid var(--color-1); */
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.project_tag:hover {
  background-color: var(--color-4);
  color: var(--color-3);
  /* border: 1px solid var(--color-3); */
}

.video-container {
  width: 100%; /* or any fixed value like 600px */
  aspect-ratio: 16 / 9; /* optional for keeping proportions */
  overflow: hidden;
}

.video-container video, .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or 'contain' depending on the desired effect */
  display: block; /* removes bottom white space */
}

.button {
  background-color: var(--color-3);
  border: none;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  padding: 0px 0px;
  cursor: pointer;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 40px;
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: var(--color-3);
}

.empty_box {
  width: 100%;
  height: 2vh;
}

.footer {
  padding: 50px 0px 0px 0px;
  bottom: 0;
}

.gallery_content {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  column-gap: 10px;
}

.gallery {
  position: relative;
  transition: filter 1s ease; /* Smooth transition effect */
  padding: 5px 0px;
}

.side_by_side {
  padding: 5px 0px;
}

.side_by_side_content {
  column-count: 2;
  column-gap: 10px;
}

div.side_by_side img {
  width: 100%;
  height: auto;
}

.content, section, .navbar {
  box-sizing: border-box;
  padding: 10px 50px 10px 50px;
  max-width: 1500px;
  margin: 0 auto;
}

section {
  height: 100vh;
}

.content_images {
  padding: 5px 0px;
  width: 100%;
  height: auto;
}

#content_img {
  width: 100%;
  height: auto;
}

a:link, a:visited, a:hover, a:active, a:focus {
  color: var(--color-4);
  text-decoration: none;
  cursor: pointer;
}

h1, h2 {
  line-height: 105%;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: var(--color-2);
}

.down-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
  color: var(--color-1);
  z-index: 10;
}

h2 {
  font-size: 24px;
}

iframe {
  width: 100%;
  height: 50vw;  
}

.lock-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 24px;
  pointer-events: none; 
  z-index: 1000;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

::selection {
  background: var(--color-4); 
  color: var(--color-3);         
}


@media only screen and (max-width: 850px) {
  .landing_desc {
    margin-right: 0px;
  }

  p, button {
    font-size: 14px;
  }

  h3, .project_tag {
  font-size: 12px;
  }
  
  h1 {
    font-size: 24px;
  }

  /* For mobile phones: */
  [class*="navbar"] {
    padding: 3vh 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: static;
    z-index: 1000;
  }

  .content, section{
    padding: 0px 5px;
  }

  section {
    height: 80vh;
  }

  .landing_desc h1 {
    margin-right: 0px;
  }

  .down-arrow {
    bottom: 50px;
  }

  div.gallery {
    padding: 2.5px 0px;
  }

  [class*="gallery_content"] {
    grid-template-columns: 1fr; 
    width: 100%;
  }

  [class*="content_images"] {
    padding: 5px 0px;
  }

  iframe {
    width: 100%;
    height: 56vw;
  }

  .side_by_side {
  padding: 2.5px 0px;
  }

}
